name: Build and publish Anno mod

on:
    push:
        tags:
          - 'v*'

jobs:
    release:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
            
            - name: Build mod
              run: |
                echo "Hello World"