name: Build and publish Anno mod

on:
  workflow_dispatch:
    inputs:  
      tags:
        description: 'Test scenario tags'
        required: false
        type: boolean
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build mod
        run: |
          mkdir dist
          echo ${{ github.workspace }}
          ls ${{ github.workspace }}
      
      - name: Create release
        run: |
          echo "Creating release"
      
      - name: Upload to mod.io
        run: |
          echo "Uploading to mod.io"